@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using System.ComponentModel.Design.Serialization
@using System.Web.Security
@using Umbraco.Core.Models
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<section>
							
	@if(!Members.GetCurrentLoginStatus().IsLoggedIn) { 
			
		
		<h2>Welcome! </h2>
		<p>This is a members only blog where we share ideas on a range of topics either <a href="/login" >log in</a> to your awsome account or <a href="/register" >sign up</a> to create a new and fresh one.  </p>
							  
		
								  
	}
	else
	{
		
		
		<h2>Welcome @Members.CurrentUserName</h2>
		<p>Find something awsome to read</p>
	
							
	}
</section>