@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Categories>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	var selection = Umbraco.Content(Guid.Parse("771832a3-1b68-4d0b-a0c8-3675420766a1"))
    .Children()
    .Where(x => x.IsVisible());
}

<section class="section">

    <div class="container">


        <div class="product-grid">

<div class="card-group">
    	@foreach (var item in selection)
	{
				<a href="@item.Url">

	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@(item.Value<IPublishedContent>("categoryImage").Url)" alt=" image" >
  <div class="card-body">
    <p class="card-text">@item.Name</p>
  </div>
</div>
		</a>
	}
</div>

</div>

</div>
</section>


