<?xml version="1.0" encoding="utf-8"?>
<Macro Key="696ed64c-8be8-4f09-91e8-b329cf229ed3" Alias="latestBlogPosts" Level="0">
  <Name>latestBlogPosts</Name>
  <MacroSource>~/Views/MacroPartials/_latestBlogPosts.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>