<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44436729-ab7a-4841-9abc-9f1d9cee3c55" Alias="blogPostPicker" Level="1">
  <Info>
    <Name>blogPostPicker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/7ae4824892524f8ba0d1816c1a914d68",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>