<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e4afd21-23aa-4d4d-8919-a4035ad57aab" Alias="Blog Post - author - User Picker" Level="1">
  <Info>
    <Name>Blog Post - author - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>