<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="159ae568-02e0-4e8f-a7cf-23e7e60a396c" Alias="about" Level="1">
  <Info>
    <Name>about</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>about</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fca6bb50-def7-4a1f-8cb0-83358b04275c">about</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>32db90a7-4090-4531-b574-a348b6677fa2</Key>
      <Name>body</Name>
      <Alias>aboutBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>about text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>181a9bf0-f1ff-4df3-a943-44995a32611e</Key>
      <Name>title</Name>
      <Alias>aboutTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>about text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>about text</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>