<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06eb47c4-c1ca-4261-96d1-995bec14df02" Alias="blogPost" Level="1">
  <Info>
    <Name>Blog Post</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>BlogPost</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a98ff5ae-0911-4c1a-bc00-171bae7523bb">BlogPost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>