<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5da7936-80a0-4950-8569-b2b17b759df4" Alias="blogPosts" Level="1">
  <Info>
    <Name>Blog Posts</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>BlogPosts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58e206e5-7d13-4a52-a15a-aa242b4847ee">BlogPosts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="06eb47c4-c1ca-4261-96d1-995bec14df02" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>