<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="964827e6-5069-4d25-8cfb-ea410137a275" Alias="contactPage" Level="1">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbb73e31-6ec2-4473-ac60-92b20870f946">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>