<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9e355d5-f3f6-4ab9-be53-5a4bf9c15a20" Alias="contentAndSettings" Level="1">
  <Info>
    <Name>content and settings</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c5da7936-80a0-4950-8569-b2b17b759df4" SortOrder="0">blogPosts</ContentType>
    <ContentType Key="06eb47c4-c1ca-4261-96d1-995bec14df02" SortOrder="1">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>