<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6f0b5a6-1aaf-4b18-b6d9-2fdd209ddb06" Alias="error" Level="1">
  <Info>
    <Name>Error</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>Error</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="401d2c7c-9cae-431f-a112-9bb8111424ad">Error</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>