<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1b0140e-39b9-429e-85f9-6d7c6dbf7e75" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ecbf3c07-ce5a-4738-b789-5629ba925d68">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c5da7936-80a0-4950-8569-b2b17b759df4" SortOrder="0">blogPosts</ContentType>
    <ContentType Key="5143f269-c143-4c9c-9041-a1e881088a43" SortOrder="1">registration</ContentType>
    <ContentType Key="91121e45-59b3-4fb2-850b-c4bb989fb91c" SortOrder="2">login</ContentType>
    <ContentType Key="e6f0b5a6-1aaf-4b18-b6d9-2fdd209ddb06" SortOrder="3">error</ContentType>
    <ContentType Key="964827e6-5069-4d25-8cfb-ea410137a275" SortOrder="4">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>