<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1b0140e-39b9-429e-85f9-6d7c6dbf7e75" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ecbf3c07-ce5a-4738-b789-5629ba925d68">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c5da7936-80a0-4950-8569-b2b17b759df4" SortOrder="0">blogPosts</ContentType>
    <ContentType Key="5143f269-c143-4c9c-9041-a1e881088a43" SortOrder="1">registration</ContentType>
    <ContentType Key="91121e45-59b3-4fb2-850b-c4bb989fb91c" SortOrder="2">login</ContentType>
    <ContentType Key="e6f0b5a6-1aaf-4b18-b6d9-2fdd209ddb06" SortOrder="3">error</ContentType>
    <ContentType Key="964827e6-5069-4d25-8cfb-ea410137a275" SortOrder="4">contactPage</ContentType>
    <ContentType Key="159ae568-02e0-4e8f-a7cf-23e7e60a396c" SortOrder="5">about</ContentType>
    <ContentType Key="1d7f064c-506f-45d2-b1ab-8ac4883a0636" SortOrder="6">profilePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c417408f-08b0-4741-98f1-275cae974960</Key>
      <Name>about</Name>
      <Alias>siteAbout</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>3371b68f-6d50-47fd-ade4-45e47fae9251</Key>
      <Name>siteName</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>835276e2-13c6-4ea6-a7cb-8f896287e1f4</Key>
      <Name>slogan</Name>
      <Alias>siteSlogan</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>site</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>