<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91121e45-59b3-4fb2-850b-c4bb989fb91c" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a321d061-2bd7-49ff-96ea-605f4a9c5816">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>