<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d7f064c-506f-45d2-b1ab-8ac4883a0636" Alias="profilePage" Level="1">
  <Info>
    <Name>Profile page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>ProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e4c09a72-cdc2-45e7-b160-522118fda0fe">ProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>