<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5143f269-c143-4c9c-9041-a1e881088a43" Alias="registration" Level="1">
  <Info>
    <Name>Registration</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="de63852f-56b1-4074-b4bd-76c0313ea7b3">content</Composition>
    </Compositions>
    <DefaultTemplate>Registration</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52caae72-8f96-43c1-b72c-b720fa637a69">Registration</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>